.about-component {
	margin-top: 70px;
}

.about__image-wrapper {
}

.about__image {
	display: block;
	width: 100%;
}

.about__cta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 400px;
	padding: 0 20px;
	text-align: center;

	@include media-breakpoint-up(md) {
		padding: 0;
	}
}

.about__cta-title {
	font-size: 2rem;
}

.about__cta-link {
	display: block;
	color: colour(link-grey);

	&:hover {
		color: darken(colour(link-grey), 20%);
	}
}
