.footer {
	padding: 70px 20px;

	@include media-breakpoint-up(md) {
		padding: 70px 0;
	}
}

.footer__address {
	font-style: normal;
	margin-bottom: 40px;

	p {
		margin: 0;
	}
}

.footer__address-link {
	display: block;

	&:first-of-type {
		margin-top: 20px;
	}
}

.footer__social-nav {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.footer__social-nav-item {
	margin-right: 25px;

	&:last-of-type {
		margin-right: 0;
	}
}

.footer__social-link {
}

.footer__logo-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 60px;

	@include media-breakpoint-up(md) {
		justify-content: flex-end;
		margin-top: 0;
	}
}

.footer__logo {
	width: 144px;
	height: 27px;

	@include media-breakpoint-up(md) {
		width: 238px;
		height: 44px;
	}
}
