.hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
	background-position: center;
	background-size: cover;

	@include media-breakpoint-up(md) {
		min-height: 100vh;
	}
}

.hero__content-container {
}

.hero__content {
	text-align: center;
	color: colour(text-light);
}

.hero__title {
	line-height: 1.1;
	margin-bottom: 0;
}

.hero__subtitle {
	margin-top: 1rem;
	margin-bottom: 0;
}

.hero__logo-wrapper {
	position: absolute;
	right: 0;
	bottom: 60px;
	left: 0;
	width: 144px;
	height: 27px;
	margin: auto;

	@include media-breakpoint-up(md) {
		right: 70px;
		bottom: 60px;
		left: initial;
		width: 238px;
		height: 44px;
		margin: 0;
	}
}

.hero__logo {
	width: 100%;
}
