.services {
	display: flex;
	align-items: center;
    padding: 150px 0;
    
	@include media-breakpoint-up(md) {
        padding: 0; 
        max-height: 785px;
        height: 100vh;
	}
}

.services__content {
	text-align: center;
}

.services__title {
}

.services__link {
	display: block;
	color: colour(link-grey);

	&:hover {
		color: darken(colour(link-grey), 20%);
	}
}
