<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <address class="footer__address">
                    <p>Everyone</p>
                    <p>Floor 2 — North, 93 Candleriggs</p>
                    <p>Glasgow. G1 1NP</p>
                    <a class="footer__address-link" href="tel:info@weareeveryone">info@weareeveryone</a>
                    <a class="footer__address-link" href="tel:+44 (0)141 430 0034">+44 (0)141 430 0034</a>
                </address>
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col-12 col-md-6">
                <ul class="footer__social-nav">
                    <li class="footer__social-nav-item">
                        <a href="#" class="footer__social-link">Instagram</a>
                    </li>
                    <li class="footer__social-nav-item">
                        <a href="#" class="footer__social-link">Twitter</a>
                    </li>
                    <li class="footer__social-nav-item">
                        <a href="#" class="footer__social-link">Facebook</a>
                    </li>
                    <li class="footer__social-nav-item">
                        <a href="#" class="footer__social-link">LinkedIn</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-6">
                <div class="footer__logo-wrapper">
                    <a class="footer__logo-link" href="#">
                        <img class="footer__logo" src="assets/images/raster/everyone-logo-dark.png" alt="Everyone" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>