<div class="navigation">
    <div class="nav__logo-wrapper">
        <a class="nav__logo-link" href="#" >
            <img class="nav__logo" src="assets/images/raster/everyone-logo-small.png" alt="Everyone"/>
        </a>
    </div>
    <div class="nav__section-title-wrapper">
        <div class="nav__section-title">
        </div>
    </div>
    <div class="nav__toggle-wrapper">
        <a href="#" class="nav__toggle" aria-label="Toggle Navigation" name="Toggle Navigation">
            <span>Open Navigation</span>
        </a>
    </div>
</div>

<div class="navigation-dropdown">    
    <div class="dropdown__nav-wrapper">
        <nav class="dropdown__nav">
            <ul class="dropdown__nav-list">
                <li class="dropdown__nav-list-item">
                    <a class="dropdown__nav-list-link" href="#">Work</a>
                </li>
                <li class="dropdown__nav-list-item">
                    <a class="dropdown__nav-list-link" href="#">What we do</a>
                </li>
                <li class="dropdown__nav-list-item">
                    <a class="dropdown__nav-list-link" href="#">Who we are</a>
                </li>
                <li class="dropdown__nav-list-item">
                    <a class="dropdown__nav-list-link" href="#">Updates</a>
                </li>
                <li class="dropdown__nav-list-item">
                    <a class="dropdown__nav-list-link" href="#">Careers</a>
                </li>
                <li class="dropdown__nav-list-item">
                    <a class="dropdown__nav-list-link" href="#">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="dropdown__footer">
        <ul class="dropdown__social-nav">
            <li class="dropdown__social-nav-item">
                <a href="#" class="dropdown__social-link">Instagram</a>
            </li>
            <li class="dropdown__social-nav-item">
                <a href="#" class="dropdown__social-link">Twitter</a>
            </li>
            <li class="dropdown__social-nav-item">
                <a href="#" class="dropdown__social-link">Facebook</a>
            </li>
            <li class="dropdown__social-nav-item">
                <a href="#" class="dropdown__social-link">LinkedIn</a>
            </li>
        </ul>

        <div class="dropdown__logo-wrapper">
            <img class="dropdown__logo" src="assets/images/raster/everyone-logo-dark.png" alt="Everyone" />
        </div>
    </div>
</div>