<div class="about-component" data-scroll-reveal-container>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="about__image-wrapper" data-scroll-reveal>
                    <img class="about__image" src="./assets/images/raster/about-image-1.jpg" />
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="about__image-wrapper" data-scroll-reveal>
                    <img class="about__image" src="./assets/images/raster/about-image-2.jpg"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="about__cta">
                    <h3 class="about__cta-title" data-scroll-reveal>Looking for ways to digitally transform your business?</h3>
                    <a class="about__cta-link" href="#" data-scroll-reveal>Talk to us</a>
                </div>
            </div>
        </div>
    </div>
</div>