<div class="about-component">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col col-md-6">
                    <img class="about__image" src="./assets/images/raster/about-image-1.jpg" />
                </div>
                <div class="col col-md-6">
                    <img class="about__image" src="./assets/images/raster/about-image-2.jpg"/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="about__cta">
                        <h3 class="about__cta-title">Looking for ways to digitally transform your business?</h3>
                        <a class="about__cta-link" href="#" >Talk to us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>