
<div class="hero" style="background-image: url('./assets/images/raster/hero-image.jpg')" data-scroll-reveal-container>
    <div class="container-fluid hero__content-container" >
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="hero__content">
                        <h1 class="hero__title" data-scroll-reveal >We’re an independent digital design &amp; technology agency in Glasgow, Scotland.</h1>
                        <h2 class="hero__subtitle" data-scroll-reveal >Engineering digital transformations.</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero__logo-wrapper">
        <img class="hero__logo" src="assets/images/raster/everyone-logo-light.png" alt="Everyone" data-scroll-reveal />
    </div>
</div>  
